[Unit]
Description=Bind mount for /srv/hdd
After=network-online.target 
Wants=network-online.target

[Mount]
What=192.168.1.201:/mnt/HDDs/shared
Where=/srv/hdds
Type=nfs
Options=defaults,_netdev,hard,intr

[Install]
WantedBy=multi-user.target
